<%= form_with(model: tweet, html: { id: "tweet-form", remote: true }) do |form| %>
  <img class="img-responsive img-circle img-sm" src="..<%= url_for(current_user.avatar) %>" alt="Alt Text">
  <div class="img-push">
    <%= form.text_area :body, class: "form-control", placeholder: "What's happening?", :size=>"50", required: true %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="box-footer">
      <%= form.file_field :image %>
      <%= form.submit 'Tweet', class: "btn btn-info btn-sm pull-right mt-25" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    autosize($('textarea'));
  });
</script>
