<div class="post">
  <div class="user-block">
    <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="">
    <span class="username">
      <a href="<%= user_path(tweet.user.slug) %>"><%= tweet.user.name %></a>
      <%= render 'tweets/actions', tweet: tweet if user_signed_in? && current_user == tweet.user %>
    </span>
    <span class="description">@<%= tweet.user.username %> - <%= tweet.created_at.strftime("%-l:%M %p %-d %b %Y") %></span>
  </div>
  <p style="margin-left:50px">
    <%= tweet.body %>
  </p>

  <ul class="list-inline" style="margin-left:50px">
    <% if user_signed_in? %>
    <div id="tweet-retweet">
      <% if retweeted?(tweet) %>
      <%= render 'retweets/unretweet', tweet: tweet %>
      <% else %>
      <%= render 'retweets/retweet', tweet: tweet %>
      <% end %>
    </div>
    <% else %>
      <i class="fa fa-retweet margin-r-5"></i> <span class="text-sm"><%= tweet.retweets_count %></span>
    <%end%>
  </ul>
</div>

<div id="tweet-edit-modal"></div>
