<div class="login-box">
  <div class="login-logo">
    <a style="color:#00c0ef"href="/"><b>Twitter</b></a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group has-feedback">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
      <div class="form-group has-feedback">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <% if devise_mapping.rememberable? -%>
                  <%= f.check_box :remember_me %>  &nbsp;Remember me
              <% end -%>
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-info btn-block btn-flat">Sign In</button>
        </div>
      </div>
    <% end %>

    <a href="/password/new">I forgot my password</a><br>
    <a href="/register" class="text-center">Register a new account</a>

  </div>
</div>
<script type="text/javascript">
$('input').iCheck({
  checkboxClass: 'icheckbox_square-blue',
  radioClass: 'iradio_square-blue',
  increaseArea: '10%' /* optional */
});
</script>
